@import url("temas-colores-fuentes.css");

.producto{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.favorito {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  button {
    margin-top: 10px;
  }