/* estilos-datos-personales.css */
@import url("temas-colores-fuentes.css");

* {
    font-family: 'Roboto Slab';
    font-size: 16px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.modo-vista {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: var(--light-color-acento-5);
    color: var(--light-color-texto);
}

.modo-vista-dark {
    background-color: var(--dark-color-acento-3) !important;
}

.modo-vista>img {
    cursor: pointer;
    width: 2em;
    height: 2em;
}

#encabezado-principal {
    display: flex;
    height: 15vh;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-between;
}

.encabezado-principal-dark {
    background-color: var(--fondo-negro) !important;
}

#encabezado-secundario>img {
    width: 100%;
}

#img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.contenido-header {
    width: 33.3333%;
    height: 100%;
}

#logo {
    display: flex;
    justify-content: center;
}

#login {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: var(--light-color-fondo);
}

.main-dark {
    background-color: var(--dark-color-fondo) !important;
}

#TodoElFormulario {
    background-color: var(--light-color-acento-2);
}

.TodoElFormulario-dark {
    background-color: var(--dark-color-acento-1) !important;
    color: var(--dark-color-texto);
}

.link2 {
    text-decoration: none;
    color: var(--light-color-texto);
}

.link2-dark {
    color: var(--dark-color-texto);
}


.BotonGuardar {
    display: flex;
    justify-content: center;
    padding: 6px;
    background-color: var(--light-color-acento-1);
    color: var(--light-color-acento-2);
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'Crete Round';

}

.BotonGuardar-dark {
    background-color: var(--dark-color-acento-2) !important;
    color: var(--dark-color-texto);
}


#error-Email,
#error-Contraseña,
#error-EmailSecundario,
#error-Telefono,
#error-Fecha,
#error-DNI,
#error-Apellido,
#error-nombre {
    color: red;
    font-size: 1em;
    margin: 0.5em 0 0 0;
    visibility: hidden;
    height: 1em;
}


#Articulo {
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid black;
    position: relative;

}

#ArticuloContraseña {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 2em;
    border-bottom: 1px solid rgb(124, 120, 120);
    /* Linea de abajo de contraseña para separar la intefaz*/
}

#botonVer {
    margin-left: 1em;
    background-size: contain;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 163px;
    bottom: 81px;
}

#password {
    width: 204px;
}

form {
    padding-left: 10px;
    padding-right: 10px;
}

#formAbajo {
    display: grid;
    padding-bottom: 10px;
    margin-bottom: 1em;

}

.cajaDeDatos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    padding-bottom: 20px;
}

.divCaja1 {
    grid-area: 1 / 1 / 2 / 2;
}

.divCaja2 {
    grid-area: 1 / 3 / 2 / 4;
}

.divCaja3 {
    grid-area: 2 / 1 / 3 / 2;
}

.divCaja4 {
    grid-area: 2 / 2 / 3 / 3;
}

.divCaja5 {
    grid-area: 2 / 3 / 3 / 4;
}

.divCaja6 {
    grid-area: 3 / 1 / 4 / 2;
}

.divCaja7 {
    grid-area: 3 / 3 / 4 / 4;
}

/*Pie de Pagina*/
#footer-principal {
    display: flex;
    width: 100%;
    background-color: var(--light-color-acento-3);
    align-items: center;
}

.footer {
    display: flex;
    width: 33.3333%;
    padding: 10px;
}

#footer-principal-izquierda {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#footer-principal-izquierda>p {
    font-family: "Crete Round";
    font-size: 1.3em;
    font-weight: 600;
    color: var(--dark-color-texto);
}

#sns-icons {
    display: flex;
    gap: 15px;
}

#sns-icons>a>img {
    width: 50px;
}

#x {
    background-color: white;
    border-radius: 8px;
}

#footer-principal-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#qr-code {
    width: 100px;
    height: 100px;
}

#footer-principal-derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

#footer-principal-derecha>a {
    text-decoration: none;
    color: var(--dark-color-texto);
    font-family: "Crete Round";
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

.line {
    height: 85px;
    border: 1px solid var(--dark-color-texto);
}



#nombre {
    grid-area: nombre;
}

#apellido {
    grid-area: apellido;
}

@media (max-width: 1110px) {

    /* Header  */
    #encabezado-principal {
        height: auto;
        padding: 1em 0;
        gap: 1em;
    }

    #img {
        max-width: 100px;
        height: auto;
    }

    .contenido-header {
        height: auto;
        width: 100%;
        align-content: center;
        justify-content: center;
        display: flex;
    }

    .cajaDeDatos {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .BotonGuardar {
        justify-content: center;
        width: 100%;
    }

    #TodoElFormulario {
        margin: 1em;
    }

    /* Footer */
    #footer-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: var(--light-color-acento-3);
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em 0;
        height: 33.3333%;
        width: 100%;
    }

    #footer-principal-izquierda{
        gap: 1em;
    }
    #footer-principal-centro{
        gap: 1em;
    }
    #footer-principal-derecha{
        gap: 1em;
        font-size: 1em;
    }

    #sns-icons {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }

    #qr-code {
        width: 80px;
        height: 80px;
    }

    .line {
        width: 80%;
        height: 0;
        border: 1px solid var(--dark-color-texto);
    }

/*  celulares  */
@media (max-width: 768px) {

    /* Header */
    #encabezado-principal {
        height: auto;
        padding: 1em 0;
    }

    .contenido-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5em;
    }

    #img {
        max-width: 50px;
        height: auto;
    }

    /* Formulario */
    #loginForm {
        width: 90%;
        padding: 1.5em;
    }

    label {
        width: auto;
        display: block;
        margin-bottom: 0.3em;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 0.5em;
        font-size: 1em;
    }

    #boxContrasenia {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;

    }

    #botonVer {
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(50%);
    }

    #botonLogin {
        width: 100%;
        height: 50px;
        font-size: 1em;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        text-align: center;
    }

    #sns-icons {
        flex-wrap: wrap;
        justify-content: center;
    }

    #footer-principal-derecha {
        gap: 1em;
    }

    #footer-principal-derecha a {
        font-size: 1em;
    }

    #qr-code {
        width: 80px;
        height: 80px;
    }

    .line {
        width: 80%;
        height: 0;
        border: 1px solid var(--dark-color-texto);
    }
}

}

