/* estilos-datos-personales.css */

body
{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0px;
}

.header{
    display: grid;
    grid-template-areas: "logo buscador iconos";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 60px;
    margin-bottom: 10px;
    background-color: #2f4c7f ;
    border: none;
   
}
#imagenLogo{
    cursor: pointer;
    border-radius: 100px;
    padding: 10px;
    max-width: 50px;
}
.logo{
    grid-area: logo;

}
.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: buscador; 

}
.iconos{
    display: flex;
    margin-right: 10px;
    justify-content: right;
    grid-area: iconos; 

}

main {
display: flex;
justify-content: center;

}

#botonGuardarCambios{
    padding: 6px;
    background-color: blue;
    color: white;
    border: 2px solid blue;
    border-radius: 7px;
    cursor: pointer;
}

#Articulo{
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    
}

#botonVer{
    margin-left: 15em;
    background-size: contain;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;

}

#ArticuloContraseña{
    border-bottom: 1px solid rgb(124, 120, 120);
    /* Linea de abajo de contraseña para separar la intefaz*/
}

form{
    padding-left: 10px;
    padding-right: 10px;
}

#formAbajo{
    display: grid;
    grid-template-areas: "nombre apellido"
                        "Tipo Nro_Doc Fecha_Nacimiento"
                        "Telefono Mail_Secundario";


}

.cajaDeDatos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .divCaja1 { grid-area: 1 / 1 / 2 / 2; }
    .divCaja2 { grid-area: 1 / 3 / 2 / 4; }
    .divCaja3 { grid-area: 2 / 1 / 3 / 2; }
    .divCaja4 { grid-area: 2 / 2 / 3 / 3; }
    .divCaja5 { grid-area: 2 / 3 / 3 / 4; }
    .divCaja6 { grid-area: 3 / 1 / 4 / 2; }
    .divCaja7 { grid-area: 3 / 3 / 4 / 4; }

.footer{
    margin-top: 10px;
    background-color: #2f4c7f ;
    border: none;
}

.contenidoFooter{
    display: flex;
    justify-content: center;
    color: bisque;

}

#nombre{ grid-area: nombre;}
#apellido{grid-area: apellido;}

