@import url("temas-colores-fuentes.css");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto Slab';
   font-size: 16px;
}

body {
   background-color: var(--light-color-fondo);
}

.body-oscuro {
   background-color: var(--dark-color-fondo);
   color: var(--dark-color-texto);
}

#encabezado-principal {
   display: flex;
   height: 15vh;
   flex-wrap: wrap;
   background-color: var(--fondo-blanco);
   padding-top: 1em;
   padding-bottom: 1em;
   position: relative;
}

.modo-vista {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 2.5em;
   height: 2.5em;
   border-radius: 50%;
   background-color: var(--light-color-acento-5);
   color: var(--light-color-texto);
}

.modo-vista-dark {
   background-color: var(--dark-color-acento-3) !important;
}

.modo-vista>img {
   cursor: pointer;
   width: 2em;
   height: 2em;
}

#link-favoritos {
   display: flex;
   justify-content: center;
   align-items: center;
}

.encabezado-principal-dark {
   background-color: var(--fondo-negro) !important;
}

#encabezado-secundario {
   background-color: var(--fondo-blanco);
}

#encabezado-secundario>img {
   width: 100%;
}

.encabezado-secundario-dark {
   background-color: var(--fondo-negro) !important;
}

#img {
   object-fit: contain;
   width: 100%;
   height: 100%;
}

.contenido-header {
   width: 33.3333%;
   height: 100%;
}

#logo {
   display: flex;
   justify-content: center;
}

#buscador {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;
}

#buscar {
   display: flex;
   position: relative;
}

#icono-buscar {
   position: absolute;
   right: 5px;
   top: 8px;
   cursor: pointer;
}


#login {
   display: flex;
   gap: 2em;
   justify-content: center;
   align-items: center;
}

#login>a {
   text-decoration: none;
   color: var(--light-color-texto);
}

.login-dark>a {
   color: var(--dark-color-texto) !important;
}

#input-buscar {
   width: 300px;
   height: 40px;
   padding: 0.6em 1em;
   border-radius: 8px;
   outline: none;
   border: none;
   background-color: var(--light-color-acento-5);
}

.input-buscar-dark {
   background-color: var(--dark-color-acento-3) !important;
   color: var(--dark-color-texto);
}

#encabezado-principal>h1 {
   text-align: center;
}

/* --------- Carrousel ----------- */

#contenedor-carrousel {
   background-color: var(--light-color-fondo);
   overflow-x: hidden;
}

.contenedor-carrousel-dark {
   background-color: var(--dark-color-fondo) !important;
}

.carrousel {
   display: flex;
   height: 100%;
   justify-content: center;
   align-items: center;
   position: relative;
}

.carrousel>img {
   height: 80%;
}

.carrousel>p {
   position: absolute;
   bottom: 3em;
   width: 60%;
   padding: 1em 1em;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.61);
   color: white;
}

/* ----------- Nav ------------- */

#navegacion-categoria {
   display: grid;
   width: 100%;
   height: auto;
   grid-template-columns: repeat(16, 1fr);
   justify-items: center;
   align-items: center;
   gap: 1em;
   background-color: var(--fondo-blanco);
   padding-top: 1em;
   padding-bottom: 1em;
}

.navegacion-categoria-dark {
   background-color: var(--fondo-negro) !important;
}

.a {
   grid-column: 4 / 6;
}

.b {
   grid-column: 6 / 8;
}

.c {
   grid-column: 8 / 10;
}

.d {
   grid-column: 10 / 12;
}

.e {
   grid-column: 12 / 14;
}

#navegacion-categoria>a {
   /* margin: 0 0.5em 0 0.5em; */
   font-size: 1em;
   font-weight: 700;
   color: var(--light-color-texto);
   text-decoration: none;
   border-radius: 5px;
   padding: 1em;
   width: 100%;
   height: 100%;
   text-align: center;
   align-content: center;
}

.navegacion-activo {
   background-color: var(--light-color-acento-2);
}

.navegacion-activo-dark {
   background-color: var(--dark-color-acento-1) !important;
}

.navegacion-categoria-dark>a {
   color: var(--dark-color-texto) !important;
}

main {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* cards */

#seccion-categoria {
   margin-top: 2em;
   margin-bottom: 2em;
   min-height: 160px;
   width: 75%;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   gap: 3em;

}

.articulo-categoria {
   display: flex;
   flex-direction: column;
   width: 250px;
   height: 365px;
   /* border: solid 1px var(--light-color-acento-2); */
   box-shadow: 0px 0px 8px 2px var(--light-color-acento-2);
   border-radius: 8px;
   justify-content: space-between;
   background-color: var(--light-color-acento-2);
   position: relative;
}

.articulo-categoria-dark {
   box-shadow: 0px 0px 8px 2px var(--dark-color-acento-2) !important;
   background-color: var(--dark-color-acento-1) !important;
}

.articulo-categoria:hover {
   transform: scale(1.1);
}

.header-articulo {
   display: flex;
   flex-direction: column;
   border-radius: 8px;
   width: 100%;
   position: relative;
}

.item-valor-nombre {
   text-align: center;
   align-content: center;
   font-weight: 600;
   height: 50px;
   padding: 0 0.3em;
   border-radius: 8px 8px 0px 0px;
}

.nombre-span {
   background-color: rgb(233, 151, 0);
   border-radius: 8px;
   padding: 0.4em 0.6em;
   cursor: pointer;
}

.nombre-span:hover {
   background-color: rgb(255, 173, 22);
}

.item-valor-autor {
   text-align: center;
   font-weight: 500;
   height: 30px;
}

.detalle-articulo {
   display: none;
   height: 159px;
   overflow: hidden;
   width: 100%;
   border-radius: 8px;
}

.item-valor-portada {
   width: 100%;
   height: 200px;
   object-fit: contain;
   object-position: center;
   background-color: var(--fondo-blanco);
   cursor: pointer;
}

.item-valor-descripcion {
   height: 30px;
   line-height: 2em;
   overflow: hidden;
   white-space: pre;
   text-overflow: ellipsis;
   padding: 0 0.3em;
   display: none;
}

.show-descripcion {
   display: block;
}

.item-valor-rating {
   padding: 0 0.3em;
   position: absolute;
   bottom: 0.5em;
   left: 0.5em;
}

.item-valor-rating>img {
   width: 1.5em;
}

#ver-mas {
   padding: 0 0.3em;
   border-radius: 0px 0px 8px 8px;
}

.fav {
   position: absolute;
   bottom: 0.5em;
   right: 0.5em;
   cursor: pointer;
}

/* pop-up */

#mostrarInfo {
   display: flex;
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.486);
   z-index: 10;
   top: 0;
   justify-content: center;
   align-items: center;
   clip-path: circle(0% at 100% 0);
   -webkit-clip-path: circle(0% at 100% 0);
   transition: ease-in-out 0.7s;
}

.show-popup {
   clip-path: circle(141.2% at 100% 0) !important;
   -webkit-clip-path: circle(141.2% at 100% 0) !important;
}

.articulo-categoria-popup {
   display: flex;
   width: 50%;
   background-color: var(--light-color-acento-2);
   flex-direction: column;
   gap: 2em;
   padding: 1em;
   align-items: center;
   border-radius: 8px;
   justify-content: center;
   position: relative;
}

.articulo-categoria-popup-dark {
   background-color: var(--dark-color-acento-1) !important;
}


#close-popup {
   position: absolute;
   cursor: pointer;
   top: 1em;
   right: 1em;
}

.header-articulo-popup {
   display: flex;
   width: 100%;
   height: 50%;
   gap: 2em;
   padding: 1em;
}

.header-izquierda {
   display: flex;
   width: 50%;
   flex-direction: column;
   align-items: center;
}

#img-popup {
   width: 250px;
   height: 200px;
   margin-top: 1em;
   border-radius: 8px;
   object-fit: contain;
   object-position: center;
   background-color: var(--fondo-blanco);
}

.header-derecha {
   display: flex;
   width: 50%;
   flex-direction: column;
   align-content: baseline;
   margin-top: 5.5em;
}

.popup-valor-descripcion {
   padding-top: 2em;
}

.popup-valor-rating {
   padding-top: 3em;
}

.line-popup {
   width: 70%;
   border: 1px solid var(--light-color-texto);
}

.line-popup-dark {
   width: 60%;
   border: 1px solid var(--dark-color-texto) !important;
}

.detalle-articulo-popup {
   display: flex;
   height: 50%;
   width: 70%;
   padding: 1em;
   gap: 1em;
}

.detalle-izquierda-popup {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
   width: 50%;
}

.detalle-derecha-popup {
   display: flex;
   flex-direction: column;
   gap: 0.5em;
   width: 50%;
}

/* ---------------- Footer -------------- */

#footer-principal {
   display: flex;
   width: 100%;
   background-color: var(--light-color-acento-3);
   align-items: center;
}

.footer-principal-dark {
   background-color: var(--dark-color-acento-3) !important;
}

.footer {
   display: flex;
   width: 33.3333%;
   padding: 10px;
}

#footer-principal-izquierda {
   display: flex;
   flex-direction: column;
   gap: 15px;
   justify-content: center;
   align-items: center;
}

#footer-principal-izquierda>p {
   font-family: "Crete Round";
   font-size: 1.3em;
   font-weight: 600;
   color: var(--dark-color-texto);
}

#sns-icons {
   display: flex;
   gap: 15px;
}

#sns-icons>a>img {
   width: 50px;
}

#x {
   background-color: var(--fondo-blanco);
   border-radius: 8px;
}

#footer-principal-centro {
   display: flex;
   justify-content: center;
   align-items: center;
}

#qr-code {
   width: 100px;
   height: 100px;
}

#footer-principal-derecha {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3em;
}

#footer-principal-derecha>a {
   text-decoration: none;
   color: var(--dark-color-texto);
   font-family: "Crete Round";
   font-size: 1.2em;
   font-weight: 600;
   text-align: center;
}

.line {
   height: 85px;
   border: 1px solid var(--dark-color-texto);
}

.line-dark {
   border: 1px solid var(--light-color-texto) !important;
}

@media only screen and (max-width: 1110px) {

   #encabezado-principal {
      flex-direction: column;
      height: 30vh;
   }

   .contenido-header {
      height: 33.3333%;
      width: 100%;
      align-content: center;
      justify-content: center;
   }

   #navegacion-categoria {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-content: center;
      gap: 1em;
   }

   .a {
      grid-column: 2/6;
      grid-row: 1;
   }

   .b {
      grid-column: 8/12;
      grid-row: 1;
   }

   .c {
      grid-column: 2/6;
      grid-row: 2;
   }

   .d {
      grid-column: 8/12;
      grid-row: 2;
   }

   .e {
      grid-column: 2/6;
      grid-row: 3;
   }

   #footer-principal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      background-color: var(--light-color-acento-3);
   }

   .footer {
      display: flex;
      height: 33.3333%;
      width: 100%;
      padding: 1em;
   }

   #footer-principal-derecha {
      flex-direction: column;
      gap: 1em;
   }

   .line {
      width: 80%;
      height: 0;
      border: 1px solid var(--dark-color-texto);
   }

   .articulo-categoria-popup {
      flex-direction: column;
      width: 90%;
      height: auto;
   }

   .header-articulo-popup {
      flex-direction: column;
      align-items: center;
      height: auto;
   }

   .header-derecha {
      margin-top: 0;
      width: 90%;
   }

   .popup-valor-descripcion {
      padding-top: 1em;
   }

   .detalle-articulo-popup {
      height: auto;
      width: 90%;

   }

}

@media only screen and (max-width: 990px) {

   .carrousel>p {
      bottom: 1em;
      padding: 0.6em 0.6em;
   }
}

@media only screen and (max-width: 800px) {

   .carrousel>p {
      bottom: 0.8em;
      padding: 0.4em 0.4em;
      font-size: 0.8em;
   }

}


@media only screen and (max-width: 500px) {

   #input-buscar {
      width: 250px;
   }

   #login {
      gap: 1em;
   }

   .line-popup {
      margin-top: -1em;
      margin-bottom: -1em;
   }

   .detalle-articulo-popup {
      flex-direction: column;
      padding: 0;
      align-items: center;
   }

   .detalle-izquierda-popup {
      width: 90%;
   }

   .detalle-derecha-popup {
      width: 90%;
   }

   #img-popup {
      width: 150px;
      height: 100px;
   }

   .negrita-popup {
      font-size: 0.9em;
   }

   .texto-popup {
      font-size: 0.9em;
   }
}