/* estilos-datos-personales.css */
@import url("temas-colores-fuentes.css");

* {
    font-family: 'Roboto Slab';
    font-size: 16px;
    box-sizing: border-box;
}

h1{
    font-size: 1.5em;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

#encabezado-principal {
   display: flex;
   height: 15vh;
   flex-wrap: wrap;
   padding-top: 1em;
   padding-bottom: 1em;
}

#encabezado-secundario > img{
   width: 100%;
}

#img{
   object-fit: contain;
   width: 100%;
   height: 100%;
}

.contenido-header {
   width: 33.3333%;
   height: 100%;
}

#logo {
   display: flex;
   justify-content: center;
}

#buscador {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;
}

#login {
   display: flex;
   gap: 2em;
   justify-content: center;
   align-items: center;
}

#login>a {
   text-decoration: none;
   color: var(--light-color-texto);
}

#input-buscar {
   width: 300px;
   height: 40px;
   padding: 0.6em 1em;
   border-radius: 8px;
   outline: none;
   border: none;
   background-color: var(--light-color-acento-5);
   font-size: 1em;
}

#buscar {
   display: flex;
   position: relative;
}

#icono-buscar {
   position: absolute;
   right: 5px;
   top: 8px;
   cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: var(--light-color-fondo);

}

#TodoElFormulario {
    background-color: var(--light-color-acento-2);
}

#botonGuardarCambios {
    display: flex;
    justify-content: center;
    padding: 6px;
    background-color: var(--light-color-acento-1);
    color: var(--light-color-acento-2);
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'Crete Round';

}

#Articulo {
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid black;

}

#ArticuloContraseña {
    padding-bottom: 2em;
    border-bottom: 1px solid rgb(124, 120, 120);
    /* Linea de abajo de contraseña para separar la intefaz*/
}

#botonVer {
    margin-left: 2em;
    background-size: contain;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;

}

form {
    padding-left: 10px;
    padding-right: 10px;
}

#formAbajo {
    display: grid;
    padding-bottom: 10px;
    margin-bottom: 1em;

}

.cajaDeDatos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    padding-bottom: 20px;
}

.divCaja1 {
    grid-area: 1 / 1 / 2 / 2;
}

.divCaja2 {
    grid-area: 1 / 3 / 2 / 4;
}

.divCaja3 {
    grid-area: 2 / 1 / 3 / 2;
}

.divCaja4 {
    grid-area: 2 / 2 / 3 / 3;
}

.divCaja5 {
    grid-area: 2 / 3 / 3 / 4;
}

.divCaja6 {
    grid-area: 3 / 1 / 4 / 2;
}

.divCaja7 {
    grid-area: 3 / 3 / 4 / 4;
}

/*Pie de Pagina*/
#footer-principal {
    display: flex;
    width: 100%;
    background-color: var(--light-color-acento-3);
    align-items: center;
}

.footer {
    display: flex;
    width: 33.3333%;
    padding: 10px;
}

#footer-principal-izquierda {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#footer-principal-izquierda>p {
    font-family: "Crete Round";
    font-size: 1.3em;
    font-weight: 600;
    color: var(--dark-color-texto);
}

#sns-icons {
    display: flex;
    gap: 15px;
}

#sns-icons>a>img {
    width: 50px;
}

#x {
    background-color: white;
    border-radius: 8px;
}

#footer-principal-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#qr-code {
    width: 100px;
    height: 100px;
}

#footer-principal-derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

#footer-principal-derecha>a {
    text-decoration: none;
    color: var(--dark-color-texto);
    font-family: "Crete Round";
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

.line {
    height: 85px;
    border: 1px solid var(--dark-color-texto);
}



#nombre {
    grid-area: nombre;
}

#apellido {
    grid-area: apellido;
}

@media (max-width: 1110px) {

    /* Header  */
    #encabezado-principal {
        flex-direction: column;
        height: 30vh;
    }

    .contenido-header {
        height: 33.3333%;
        width: 100%;
        align-content: center;
        justify-content: center;
    }

    /* Footer */
    #footer-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: var(--light-color-acento-3);
    }

    .footer {
        display: flex;
        height: 33.3333%;
        width: 100%;
        padding: 1em;
    }

    #footer-principal-derecha {
        flex-direction: column;
        gap: 1em;
    }

    .line {
        width: 80%;
        height: 0;
        border: 1px solid var(--dark-color-texto);
    }

}