/* estilos-registrarse.css */
@import url("temas-colores-fuentes.css");

* {
    font-family: 'Roboto Slab';
    box-sizing: border-box;
    font-size: 16px;
}

h1{
    font-size: 1.5em;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

#encabezado-principal {
    display: flex;
    height: 15vh;
    flex-wrap: wrap;
    padding-top: 1em;
}

#logo {
    display: flex;
    justify-content: center;
}

#imagenLogoUnlam {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.contenido-header {
    width: 33.3333%;
    height: 100%;
}

#buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#buscador>label {
    width: auto;
}

#input-buscar {
    width: 300px;
    height: 40px;
    padding: 0.6em 1em;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--light-color-acento-5);
    font-size: 1em;
}

#buscar {
    display: flex;
    position: relative;
}

#icono-buscar {
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
}

#menu {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

#menu a {
    text-decoration: none;
    color: var(--light-color-texto);
}

main {
    background-color: var(--light-color-fondo);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
    height: 30em;
}

h1 {
    font-family: 'Hind Madurai';
}

#registrarseForm {
    background-color: var(--light-color-acento-2);
    border: 2px solid;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
}

label {
    display: inline-block;
    width: 100px;
}

#botonRegistrarse {
    background-color: var(--light-color-acento-1);
    height: 60px;
    width: 200px;
    padding: 0%;
    border-radius: 15px;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: larger;
    font-family: 'Crete Round';
}

#cuenta {
    margin-top: 0;
}

#footer-principal {
    display: flex;
    width: 100%;
    background-color: var(--light-color-acento-3);
    align-items: center;
}

.footer {
    display: flex;
    width: 33.3333%;
    padding: 10px;
}

#footer-principal-izquierda {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#footer-principal-izquierda>p {
    font-family: "Crete Round";
    font-size: 1.3em;
    font-weight: 600;
    color: var(--dark-color-texto);
}

#sns-icons {
    display: flex;
    gap: 15px;
}

#sns-icons>a>img {
    width: 50px;
}

#x {
    background-color: white;
    border-radius: 8px;
}

#footer-principal-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#qr-code {
    width: 100px;
    height: 100px;
}

#footer-principal-derecha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

#footer-principal-derecha>a {
    text-decoration: none;
    color: var(--dark-color-texto);
    font-family: "Crete Round";
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

.line {
    height: 85px;
    border: 1px solid var(--dark-color-texto);
}


@media (max-width: 1110px) {

    /* Header  */
    #encabezado-principal {
        flex-direction: column;
        height: 30vh;
    }

    .contenido-header {
        height: 33.3333%;
        width: 100%;
        align-content: center;
        justify-content: center;
    }

    /* Footer */
    #footer-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: var(--light-color-acento-3);
    }

    .footer {
        display: flex;
        height: 33.3333%;
        width: 100%;
        padding: 1em;
    }

    #footer-principal-derecha {
        flex-direction: column;
        gap: 1em;
    }

    .line {
        width: 80%;
        height: 0;
        border: 1px solid var(--dark-color-texto);
    }

}